In [ ]:
## What is the effect of increasing state temperatures on wildfire severity and frequency?

In [6]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
from datetime import datetime

In [7]:
# Import data
jan_avg_pcp = pd.read_csv('Resources/1990-2020_Jan_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
feb_avg_pcp = pd.read_csv('Resources/1990-2020_Feb_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
mar_avg_pcp = pd.read_csv('Resources/1990-2020_Mar_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
apr_avg_pcp = pd.read_csv('Resources/1990-2020_Apr_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
may_avg_pcp = pd.read_csv('Resources/1990-2020_May_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
jun_avg_pcp = pd.read_csv('Resources/1990-2020_Jun_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
jul_avg_pcp = pd.read_csv('Resources/1990-2020_Jul_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
aug_avg_pcp = pd.read_csv('Resources/1990-2020_Aug_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
sep_avg_pcp = pd.read_csv('Resources/1990-2020_Sep_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
oct_avg_pcp = pd.read_csv('Resources/1990-2020_Oct_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
nov_avg_pcp = pd.read_csv('Resources/1990-2020_Nov_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')
dec_avg_pcp = pd.read_csv('Resources/1990-2020_Dec_AvgPcp.csv', skiprows= [1, 2, 3, 4], encoding='utf-8')

In [8]:
# Remove anomaly column 

# List of dataframes
months_dfs = [jan_avg_pcp, feb_avg_pcp, mar_avg_pcp, apr_avg_pcp, may_avg_pcp, jun_avg_pcp, jul_avg_pcp, aug_avg_pcp, sep_avg_pcp, oct_avg_pcp, nov_avg_pcp, dec_avg_pcp]

# Create a for loop to change last column to "NA" for all dfs and then drop column "NA" 
for df in months_dfs:
    df.columns = ['Date', 'Precipitation', 'NA']
    df['Precipitation (in)'] = df['Precipitation']
    df.drop('Precipitation', 1, inplace= True)
    del df['NA']

In [9]:
jul_avg_pcp.head()

     Date  Precipitation (in)
0  199007                0.28
1  199107                0.26
2  199207                0.24
3  199307                0.03
4  199407                0.05

In [11]:
# Create a loop to get year and month from all dataframes 
months_dfs = [jan_avg_pcp, feb_avg_pcp, mar_avg_pcp, apr_avg_pcp, may_avg_pcp, jun_avg_pcp, jul_avg_pcp, aug_avg_pcp, sep_avg_pcp, oct_avg_pcp, nov_avg_pcp, dec_avg_pcp]

for df in months_dfs:
    df['fake_year'] = pd.to_datetime(df['Date'],format='%Y%m')
    df['Year'] = pd.DatetimeIndex(df['fake_year']).year
    df['Month'] = pd.DatetimeIndex(df['fake_year']).month
    df.drop('fake_year', 1, inplace= True)
    df.drop('Date', 1, inplace= True)